img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1{
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin-left: 10px;
}

h2{
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-left: 25px;
}

body{
    font-family: "Prociono", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}