.carousel__container {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    }
    
    .carousel__item {
    flex: 1 0 100%;
    scroll-snap-align: center;
    }
    
    .carousel__item img {
    display: block;
    }

    .carousel__button{
        background: transparent;
        border: none;
        width: 70px;
        display: flex;
        justify-content: center;
    }

    .carousel__controls{
        display: flex;
        justify-content: center;
     }
