
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--fond);
    position: relative;

}

.header__logo img {
    max-width: 80px;
}

.header__action {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.header__action img {
    max-width: 30px;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.header__logo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px; 
    height: 120px;
    background-color: #ADD8E6;
    border-radius: 50%;
    z-index: -1; 
    opacity : 0.5; 
}

