/* Variable collection */:root { /* Mode 1 */ /* color */
   --jaune: #ffec48;
     --new1: #edcdff; 
     --new2: #c7ebf8;
      --new3: #ffb6b6;
        --fond: #fee8ff;
;
    
      --menu: 32px;
      --body: 20px;
      --menu-footer: 14px;
      --header-1: 32px;
      --header-2: 24px;
      --card: 16px;
      --card-contenu: 16px;
    
    }

   
