

.accordeon {
    display: grid;
    width: auto;
    gap: 10px;
}


.accordeon__question{
    font-family: Prociono, serif;
    font-size: 20px;
}


.accordeon__summary {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    background-color: #c7ebf8; 
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.accordeon__fleche {
    display: inline-block; 
    width: 20px; 
    margin-right: 10px; 
    text-align: left; /
}

.accordeon__answer{
    font-family: Prociono, serif;
    font-size: 20px;
}
