.programme {

    border: 1px solid black; 
    margin: 20px 0; 
    width: 300px; 
    margin-left: 50px;
 
}


.programme__header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #EDCDFF; 
    padding: 10px; 
    font-weight: bold; 
    font-size: 1.1rem; 
    border-bottom: 1px solid black; 
    font-family: 'Prociono', serif;
}


.programme__date {
    color: black;
    font-weight: 600; 
    font-family: 'Chewy', sans-serif; 
}


.programme__category {
    color: black;
    font-family: 'Chewy', sans-serif; 
}


.programme__content {
    padding: 10px; 
    font-size: 20pxx; 
    line-height: 1.5; 
}


.programme__content p {
    margin: 5px 0; 
}

