.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f8f8;
    position: relative;
}

/* Conteneur principal pour le logo et les actions */
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Logo centré avec cercle bleu */
.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.header__logo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px; /* Ajustez la taille selon vos besoins */
    height: 120px;
    background-color: #ADD8E6; /* Couleur bleue */
    border-radius: 50%;
    z-index: -1; /* Placez le cercle derrière le logo */
    opacity : 0.5; /* Opacité du cercle */
}

.header__logo img {
    max-width: 80px;
    position: relative;
}

/* Actions dans le header */
.header__actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__action {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.header__action img {
    max-width: 30px;
}

/* Position spécifique pour la loupe et le menu */
.header__action--search {
    position: relative;
    left: 0;
}

.header__action--menu {
    position: relative;
    right: 0;
}
